ul {
  display: flex;
  flex-direction: row;
  list-style-type:none;
  white-space:pre;
  margin: 0;
  padding: 0;
}
li{
  padding: -10px;
  margin: 20px;
}
h1{
  align-content: center;

}
div{
  align-content: center;
}
app-todos{
  flex-direction:  column;
  margin-bottom: 0%;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/